BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeWhile: true
